<% if user_signed_in? %>
  <div class="notice">
  </div>
  <h3><%= @user.email %></h3>

  <div class="row">
    <div class="col-sm-12 well days">
      <%= render 'form' %>

    </div>
  </div>
<% else %>
  <h4>Nope! Sorry, please sign in.</h4>
<% end %>
