<table class="table table-hover foods">
    <thead>
      <tr class="food-headers">
        <th>Food</th>
        <th>Serving Size</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr class="food">
          <td><%= food.name %></td>
          <td><%= food.serving %></td>
          <td><%= food.calories %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @foods %>
