/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';


.food:hover{
  cursor:pointer;
}

.foods{
  font-size:20px;
  text-align:center;
}

.food-headers{
  font-size:30px;
  th{
    text-align:center;
  }
}

td{
  width:30%
}

.icon{
  width:20px;
}

#add-food{
  font-size:20px;
  text-align:center;
  padding:30%
}

.row1{
  margin-bottom:40px;
}

.total{
  text-align:center;
  width:40%;
  margin:20px;
  padding:20px;
}
